{{#power-select
      selected=selectedArtist
      options=artists
      onchange=(action "chooseArtist")
      placeholder="Search for your favorite artist"
      searchField="name"
      searchPlaceholder="Type artist name here"
      as |artist|
    }}
    {{artist.name}}
{{/power-select}}

{{#with selectedArtist as |artist|}}
    <h2>{{artist.name}}</h2>
    <div class="resultCont">
        {{#each artist.appearances as |appearance|}}
            <dl>
                <dt>{{appearance.year}}</dt>
                <dd>{{appearance.day}}</dd>
                <dd>{{appearance.stage}}</dd>
                {{#if appearance.notes}}
                    <dd>
                        <h3>Notes:</h3>
                        <p>{{appearance.notes}}</p>
                    </dd>
                {{/if}}
            </dl>
        {{/each}}
    </div>
{{/with}}
