{{#power-select
      selected=selectedArtist
      options=artists
      onchange=(action "chooseArtist")
      placeholder="Search for your favorite artist"
      searchField="name"
      searchPlaceholder="Type artist name here"
      as |artist|
    }}
    {{artist.name}}
{{/power-select}}

{{#with selectedArtist as |artist|}}
    <h2>{{artist.name}}</h2>
    <ul>
        {{#each artist.appearances as |item|}}
            <li>
                {{item.year}} -
                {{item.day}}
                ({{item.stage}})
                {{#if item.notes}}
                    *{{item.notes}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/with}}
